.generic-content-container {

  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 250;
  color: #fff;
  margin: 1.7rem;
  position: relative;
  transition: all 0.8s ease-out;

  strong {
    font-family: "Raleway";
    font-size: 0.8rem;
    font-weight: 500;
  }

  &--center {
    text-align: center;
  }

  span.gray {
    font-size: 0.9rem;
    color: #999;
  }

  span.mono {
    font-family: "Cutive Mono";
    font-size: 0.9rem;
    font-weight: 600;
  }

  a {
    font-family: "Raleway";
    font-size: 0.9rem;
    color: $mainBlue;
    font-weight: 500;
    text-decoration: none;

    @mixin atLarge {
      font-size: 1.5rem;
    }
  }

  a:hover {
    color: $mainBlueLight;
    font-weight: 500;
  }

  h1 {
    font-family: "Raleway";
    margin-bottom: 0px;    
    font-size: 2rem;
    font-weight: 90;
    line-height: 0.9rem;

    @mixin atLarge {
      font-size: 3.5rem;
    }
  }

  &__tiny {
    font-size: 0.9rem;
    margin: 1.7rem;
    position: relative;
    line-height: 1.0rem;
    color: #ccc;

    a {
      font-size: 1.0rem;
      font-family: "Raleway";
    }
  
	  span.gray {
	    font-size: 0.9rem;
	    color: #666;
	    font-weight: 300;
	  }

	  span.mono {
	    font-family: "Cutive Mono";
	    font-size: 1.05rem;
	    font-weight: 600;
	  }

  }
  


}