.generic-content-container {
  /*transition: color 2s ease-out;*/
  font-family: "Roboto";
  margin: 1.7rem;
  position: relative;
  /*background-color: rgba(255,255,255,0.4);*/
  transition: all 0.8s ease-out;
/*
  &--visible {
    z-index: -1;
    opacity: 1;
  }
  
  &--hidden {
    z-index: 5;
    opacity: 0;
  }*/

  p {
    /*position: relative;*/
    line-height: 1.5rem;
    font-weight: 200;

    @mixin atSmall {
      font-size: 1.125rem;
    }
  }

/*
  p {
    font-weight: 300;
  }*/

  a:hover {
    color: $mainBlueLight;
   font-weight: 500;
  }

}