.generic-content-container {
  /*transition: color 2s ease-out;*/
  font-family: "Roboto";
  margin: 1.7rem;
  
  p {
    line-height: 1.5rem;
    font-weight: 200;

    @mixin atSmall {
      font-size: 1.125rem;
    }
  }

/*
  p {
    font-weight: 300;
  }*/

  a:hover {
    color: $mainBlueLight;
   font-weight: 500;
  }

}