.intro {
  position: relative;
  height: 100vh;
  /*width: 100vw;*/
  overflow: hidden;
  /*background: #f00;*/
  /*background-size: contain;*/
  
  &__sign {
    /*display: block;*/
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    max-width: 70%;

    /*max-height: 500px;*/
    /*right: auto;*/
  }
}