.link {


	font-family: "Raleway";
  /*color: $mainBlue;*/
  /*font-weight: 500;*/
  text-decoration: none;
	position: relative;
	z-index: 5;
	color: #aaa;
	font-size: 1.5rem;
	line-height: 2.3rem;
	font-weight: 150;
	transition: color 0.4s ease-in-out;
	/*height: 20vh;*/

	&-active {
		color: #fff;
		font-weight: 280;
	}


/*	a:hover {
		font-size: 1.5rem;

	}
*/

}

/*.link.a:hover {
	color: #aaa;
	font-weight: 150;
}*/