.link {

	font-family: "Raleway";
  	text-decoration: none;
	position: relative;
	z-index: 5;
	color: #aaa;
	font-size: 1.3rem;
	line-height: 1.6rem;
	font-weight: 150;
	transition: color 0.4s ease-in-out;	

	&-active {
		color: #fff;
		font-weight: 280;
	}

	@mixin atSmall {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	@mixin atMedium {
		font-size: 1.55rem;
		line-height: 2.2rem;
	}

	@mixin atLarge {
		font-size: 1.8rem;
		line-height: 2.5rem;
	}


/*	a:hover {
		font-size: 1.5rem;

	}
*/

}

/*.link.a:hover {
	color: #aaa;
	font-weight: 150;
}*/