.music {

	&__images {
		position:absolute;
		transform-origin: center;
		/*transform: translateX(0%);*/
		/*transform: translateY(0%);*/

		overflow: hidden;
		z-index: -1;
		/*position: absolute;*/

		height: 100%;
    	width: auto;

		/*display:block;*/



		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);

	}

	&__images-augustin {
		/*transform-origin: right;*/
		transform: translateX(-53%);
	}

	&__images-chicagojazzen {
		transform: translateX(-25%);
	}

	&__images-dammit {
		transform: translateX(-8%);
	}

	&__images-flickstick {
		transform: translateY(0%) translateX(-70%)
	}

	&__images-kantor {
		transform: translateY(0%) translateX(-30%)
	}

	&__images-krispr {
		transform: translateY(0%) translateX(-29%)
	}

	&__images-riwen {
		transform: translateY(0%) translateX(-19%)
	}

	&__images-lithner {
		transform: translateY(0%) translateX(-30%)

	}

	&__images-x {
		transform: translateY(0%) translateX(-30%)

	}

	&__images-opaque {
		opacity: 1;
  		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  		filter: alpha(opacity=1);
	}
}