.music {
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100%;
	background-color: #222;
	overflow: hidden;

	&__images {
		z-index: -1;
		position: relative;
		margin-left: 0px;
		margin-top: 0px;
		width: 100%;
		height: auto;
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
	}

	&__images-opaque {
		position: relative;
		width: 100%;
		z-index: -1;
		opacity: 1;
  		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  		filter: alpha(opacity=1);
	}
}