.music {
/*
	&__text {
		font-weight: 500;
		line-height: 2;
	}*/
/*
	&__list {
		a:hover {
			color: #aaa;
			font-size: 1.5rem;
			line-height: 2.3rem;
			font-weight: 150;
		}
	}*/

	&__images {
		transform-origin: center;
		/*transform: translateX(0%);*/
		/*transform: translateY(0%);*/

		z-index: -1;
		/*position: absolute;*/

		width:100%;
		display:block;
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		/*top:0;*/
		margin:auto;
/*		margin-left: 0px;
		margin-top: 0px;
		width: 100%;
		height: auto;*/
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);

	}

	&__images-augustin {
		transform: translateY(10%);
	}

	&__images-chicagojazzen {
		transform: translateY(20%);
	}

	&__images-dammit {
		transform: translateY(50%);
	}

	&__images-flickstick {
		transform: translateY(0%);
	}

	&__images-kantor {
		transform: translateY(15%);
		@mixin atLarge {
			transform: translateY(30%);
		}
	}

	&__images-krispr {
		transform: translateY(45%);
		@mixin atLarge {
			transform: translateY(54%);
		}

	}

	&__images-riwen {
		transform: translateY(0);
		@mixin atLarge {
			transform: translateY(26%);
		}
	}

	&__images-lithner {
		transform: translateY(0%);
		
		@mixin atLarge {
			transform: translateY(25%);
		}
	}

	&__images-opaque {
		opacity: 1;
  		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  		filter: alpha(opacity=1);
	}
}