.photo-cred {
	z-index: 0;
	color: #fff;
	font-weight: 250;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0.3rem;
	margin-right: 0.6rem;
	font-size: 0.8rem;

	@mixin atSmall {
		font-size: 1rem;
		font-weight: 300;
	}

}