.primary-nav {
  padding-top: 0px;
  margin-top: 0px;
  overflow: hidden;

  &--pull-left {
    @mixin atMedium {
      float: left;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
    @mixin atMedium {
      padding-right: 20px;
      float: left;
      display: block;
    }
  }

  li:last-child {
    padding-right: 0;
    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: #aaa;
    font-weight: 150;
    text-decoration: none;
    display: block;
    padding: 2px 5px;
    font-size: 1.5rem;
    background-color: transparent;
    /*background-color: rgba(0,0,0, .5);*/

    &.is-current-link {
      font-weight: 150;
      color: #fff;
    }

    @mixin atMedium {
      font-size: 2.0rem;
      /*padding: 5px 10;*/
    }
  }
}