.row {

  /*z-index: ;*/
/*  margin: 0px;
  padding: 0px;
*/  
  position: relative;
  opacity: 1;
  transition: all 0.8s ease-out;

  &__music-links {
    width: 70%;
    padding: 10px 0px 12px 0px;
    margin-left: 40px;
  }

  &__full-if-small {
    width: 100%;
  }

  &__full-if-small--margin {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }

  &--large-if-small {
    width: 90%;
  }

  &__medium-8--center {
    top: 8vh;
    float: center;
    left: auto;
    right: auto;
    width: 90%;

    @mixin atLarge{
      top: 9vh;
      margin-left: 20%;
      width: 70%;
    }
  }

  @mixin clearfix;

  &--hidden {
    position: absolute;
    /*z-index: -19;*/
    opacity: 0;
  }

  &--visible {
    position: relative;
    /*z-index: 2;*/
    opacity: 1;
  }

  &--bg-color {
    background-color: rgba(0,0,0,.8);
  }

  &--bg-color-light {
    background-color: rgba(255,255,255,.05);
  }

  &--t-padding {
    margin-top: 17vh;
    /*margin-bottom: 12vh;*/
  }

  &--less-t-padding {
    margin-top: 8vh;
  }

  &--more-t-padding {
    margin-top: 18vh;
  }

  &--r-padding {
    margin-right: 5vh;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

/*  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }
*/
  @mixin atMedium {

    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33%;
    }

    &__medium-4--larger {
      width: 40%;
    }

    &__medium-6 {
      float: left;
      width: 60%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }

  }

  @mixin atLarge {

    &__medium-4 {
      float: left;
      width: 15%;
    }

    &__medium-6 {
      float: left;
      width: 60%;
    }

    &__b-margin-until-large {
      margin-bottom: 0;
    }

    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller {
      width: 63%;
    }

  }
  
  /* Begin Equal Height Rules */
  .flexbox &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }

  }

  .flexbox &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }

  }

}