.social-icons {
  text-align: center;

  &__icon {
    background-color: $mainBlueDarker;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    width: 72px;
    height: 72px;
    position: relative;

    &:hover {
      background-color: $mainBlue;
    }

    @mixin atSmall {
      width: 72px;
      margin: 0 5px;
    }

    .icon {
      transform-origin: center;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-13%, -13%) scale(.5);

      &--left {
        transform: translate(-14%, -13%) scale(.5);
      }

      &--shrink {
        transform: translate(-44.1%, -44.3%) scale(.075);
      }

      &--shrink-less {
        transform: translate(-43%, -43.2%) scale(.1);
      }
    }
  }
}