.wrapper {
  position: relative;
  overflow: hidden;
  max-width: 90%;

  &--medium {
    max-width: 90%;
  }

  &--narrow {
    max-width: 470px;
  }

  &--wide {
    padding: 0px;
    margin: 0px;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
    max-width: 100%;
  }

  &--center {
    margin: auto;
  }

/*  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }*/
/*
  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;

    @mixin atLarge {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
*/
/*  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }
*/
}